:host {
    display: grid;
    grid : 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 5px;

    justify-items: center;

    width: 100%;

    & .card {
        width: 100%;
        display: flex;
        flex-flow: column nowrap; 
    }

    & .card > .header {
        text-align: center;
    }
    & .card > code-block {
        width: 100%;
        height: 100%;
    }
    & .card > iframe {
        border: 1px solid black;
        border-radius: 5px;
        width: 100%;
        height: fit-content;
        box-sizing: border-box;
    }
}