:root {

    color: light-dark(black, white);

    @media screen {
        &.light-mode {
            color-scheme: light;
        }
        &.dark-mode {
            color-scheme: dark;
        }
    }

    @media print {
        & {
            color-scheme: light;
            print-color-adjust: exact;
        }
    }
}

.color-scheme-gui-btn {
    position: fixed;
    top: 0px;
    right: 0px;
    cursor: pointer;
    font-size: 20px;
 
    :root.light-mode & {
        &::before {
            content: "🌘"; /*var(--color-scheme-gui-btn-icon);*/
        }
    }
    :root.dark-mode & {
        &::before {
            content: "🌖"; /*var(--color-scheme-gui-btn-icon);*/
        }
    }

    @media print {
        & {
            display: none;
        }
    }
}