@media print {
    @page {
        size  : A4;
        margin: 15px 0; /* top/bottom page margins */
    }
}

main {
    display   : block;
    box-sizing: border-box;
    width     :  210mm; /* A4 width */
    /*padding   : 0 12px; left-right page margins */
    border-left : 12px solid transparent;
    border-right: 12px solid transparent;

    overflow-x: hidden;
    
    font-size: 14px; /* 16px is the default */
    /*
    margin-left : auto;
    margin-right: auto;
    */
}

/* scale down */
@media screen and (max-width: 210mm) {
    main {
        transform-origin: top left;
        scale: min(1, calc( var(--screen_width) / var(--main-width) ) );
    }
}
/* scale up */
@media screen and (min-width: 210mm) and (display-mode: fullscreen) {
    main {
        transform-origin: top left;
        scale: max(1, calc( var(--screen_width) / var(--main-width) ) );
    }
}
/* center */
@media screen and (min-width: 210mm) and (not (display-mode: fullscreen)) {
    main {
        margin-left: auto;
        margin-right: auto;
    }
}