*:not(:defined) {
    all: unset;
}

script, style {
    display: none;
}

:root {
    font-family: Arial, sans-serif;
}

summary {
    cursor: pointer;
}

ol > li > ol {
    list-style-type: lower-alpha;
}

summary > :is(h2,h3,h4,h5,h6) {
    display: inline-block;
}

main > div {
    margin-top: 1rem;
    margin-bottom: 1rem;

    text-align: justify;
}

div > ul, div > ol {
    margin-top: 0;
}

img {
    break-inside: avoid;
}